
////////// margin
.mtxs { margin-top:6px; }
.mtsm { margin-top:12px; }
.mtmd { margin-top:18px; }
.mtlg { margin-top:24px; }
.mtxlg { margin-top:36px; }
.mtxxlg { margin-top:42px; }

.mrxs { margin-right:6px; }
.mrsm { margin-right:12px; }
.mrmd { margin-right:18px; }
.mrlg { margin-right:24px; }
.mrxlg { margin-right:36px; }

.mlxs { margin-left:6px; }
.mlsm { margin-left:12px; }
.mlmd { margin-left:18px; }
.mllg { margin-left:24px; }
.mlxlg { margin-left:36px; }

.mbxs { margin-bottom:6px; }
.mbsm { margin-bottom:12px; }
.mbmd { margin-bottom:18px; }
.mblg { margin-bottom:24px; }
.mbxlg { margin-bottom:36px; }

///////// padding
.pxs { padding:6px; }
.psm { padding:12px; }
.pmd { padding:18px; }
.plg { padding:24px; }
.pxlg { padding:36px; }

.ptxs { padding-top:6px; }
.ptsm { padding-top:12px; }
.ptmd { padding-top:18px; }
.ptlg { padding-top:24px; }
.ptxlg { padding-top:36px; }

.prxs { padding-right:6px; }
.prsm { padding-right:12px; }
.prmd { padding-right:18px; }
.prlg { padding-right:24px; }
.prxlg { padding-right:36px; }

.plxs { padding-left:6px; }
.plsm { padding-left:12px; }
.plmd { padding-left:18px; }
.pllg { padding-left:24px; }
.plxlg { padding-left:36px; }

.pbxs { padding-bottom:6px; }
.pbsm { padding-bottom:12px; }
.pbmd { padding-bottom:18px; }
.pblg { padding-bottom:24px; }
.pbxlg { padding-bottom:36px; }


////////////border 
.b_all { border:1px solid $borderColor; }
.bt { border-top:1px solid $borderColor; }
.bb { border-bottom:1px solid $borderColor; }
.bl { border-left:1px solid $borderColor; }
.br { border-right:1px solid $borderColor; }


//////////////////////// bg
//.bg-white { background-color:$white; }
//.bg-lightgray { background-color:$lighterGrayColor; }
//.bg-primary {background-color: $primaryColor; }
.bg-yellowch {background-color:#B2B200;}
.bg-brownch { background-color:#A05000; }

///////////////// font
.text-thin { font-weight:300; }
.text-bold { font-weight:600; }
.text-larger { font-size:larger; }
.text-large { font-size:large; }
.text-upper { text-transform:uppercase; }

///////////////////// text
.text-primary, .text-success { color: $primaryColor;}
.text-muted { color: $mutedColor; }
.text-accent {color:$accentColor;}
.text-info { color: #0060D1; }
//.text-danger { color:$dangerColor ; }
//.text-warning { color:$warningColor; }
.text-dark { color: #666; }
.text-white { color: #FFFFFF; }


//////////// block elements
.inblock { display:inline-block; }


////////////// animation classes
.is-moved {
	@include translateX(145px);
}

