// colors

$primaryColor: #002856;
$accentColor: #FF481E;
$lightGray: #999999;
$darkBlue: #002044;
$mutedColor: #909090;
$textColor: #707070;
$borderColor:#999999;


///// fonts
@import url('//fonts.googleapis.com/earlyaccess/notokufiarabic.css');
$arabicFont: 'Noto Kufi Arabic';
$fontAwesome: 'Fontawesome';
$primaryFont: 'Montserrat';
$baseFontSize: 14px;
$baseLineHeight: 1.9;
$fontLight:300;
$fontSemiLight:400;
$fontMedium:500;
$fontBold:600;
$fontSemiBold:700 ;


////////////// layouts & sections
$sectionTopGap: 60px;